[submodule "MyBank_frontend"]
	path = MyBank_frontend
	url = https://github.com/YanisBra/MyBank_frontend.git
[submodule "MyBank_backend"]
	path = MyBank_backend
	url = https://github.com/YanisBra/MyBank_backend.git